{% extends "base.html" %}

{% block title %}Home Page{% endblock %}
    

{% block content%}
        <div class="homepage">
            <h1>Widget Layouts</h1>
            <div class="grid-container-home">

                <a href="{% url 'widget_homepage:widget-homepage' %}" class="layout-card">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
                </a>

            </div>
        </div>


        {% comment %} <div class="about">
            <h1>On online homebase to manage all your study and productivity techniques</h1>
            <h2>What is Study Focus?</h2>
            {% lorem 1 p random %}
            <h2>How to use Study Focus</h2>
            {% lorem 1 p random %}

        </div> {% endcomment %}
{% endblock %}

