
.layout-card{
    padding: 1em; 
    border: 1px solid var(--line-clr);
    border-radius: 10px;
    background-color: var(--base-clr);
    text-align: center;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 25%;

    svg {
        width: 50%;
        height: auto;
    }
}

h1 {
    text-align: center;
    padding: 1em;
}

.grid-container-home { 
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 15px;
    align-items: center;
    justify-content: center;
    /* height: 100dvh; */
    /* background-color: red; */
}

.homepage{
    background-color: var(--base-clr);
    height: 100%;
    width: 100%;
    padding-bottom: 12px;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: env(safe-area-inset-top);
}

.about {
    background-color: var(--about-section-background);
}
