*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', 'sans-serif';
    box-sizing: 'border-box';
}

.widget-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.25fr));
    gap: 0px 0px;
    justify-content: left;
}

.widget {
    background-color: #f4f4f4; /* Light background */
    padding: 20px;             /* Add padding inside the box */
    /* margin: 10px 0;            Space between widget boxes */
    margin: 0;
    border-radius: 8px;        /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border: 1px solid #ddd;    /* Light border */
    font-family: Arial, sans-serif; /* Font style */
    font-size: 16px;           /* Adjust text size */
    color: #333;               /* Text color */
    transition: all 0.3s ease; /* Smooth transition for hover effect */

    /* padding: 2em;  */
    /* border: 1px solid var(--line-clr); */
    /* border-radius: 10px; */
    /* background-color: var(--base-clr); */
    text-align: center;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.widget:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    transform: translateY(-5px); /* Lift the box a little on hover */
}

.widget h3 {
    margin-top: 0; /* Remove top margin for any heading inside */
    font-size: 18px; /* Slightly larger text for headings */
    color: #333;    /* Darker text color for heading */
}

.button {
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }


.header {
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    /* padding: 20px; */
}